<!DOCTYPE HTML>

<html>
   <head>
      <title>StudCraft II</title>
      <link rel="stylesheet" type="text/css" href="/styles.css" />
      {% block scripts %}
      {% endblock %}
      <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-23779122-1']);
_gaq.push(['_trackPageview']);

(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
   </script>
   </head>
   <body>
      <div id="wrapper">
         <div id="header">
            <h1><a href="/">StudCraft II</a></h1>
         </div>
         <div id="content">
         {% block body %}
         <h2>You're really reading this old rag?</h2>
         {% endblock %}
         </div>
         <div id="footer">
            <p><a href="/players">Players</a> | <a href="/teams">Teams</a> |  <a href="/races">Races</a> | A loafofbread, nishkak &amp; brockemon production | <a href="/news">News</a> | <a href="http://github.com/davidclaridge/StudCraft">Nerdy details</a></p>
            <p><small>{{ votecount }}</small></p>
         </div>
      </div>
   </body>
</html>
