{% extends "base.html" %}
{% block body %}
<h2>Site News</h2>
<p>
<ul>
   <li>20:57 - We just discovered a bug that was mucking up team and race scores, so we're resetting the database. Go nuts!</li>
   <li>08:06 - 6000 votes in the first hour :-D</li>
   <li>06:48 - Site Launched, have fun nerds!</li>
</ul>
</p>
{% endblock %}
