{% extends "base.html" %}
{% block body %}
<h2>The hottest nerds</h2>
<p>
<img src="{{first.photo}}" alt="{{first.handle}}" />
<img src="{{second.photo}}" alt="{{second.handle}}" />
</p>

<ol>
   {% for player in players %}
   <li class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">{{player.handle}} ({{player.name}})</li>
   {% endfor %}
</ol>
{% endblock %}
