{% extends "base.html" %}
{% block body %}
<ol>
   {% for race in races %}
   <li class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">{{race.name}}</li>
   {% endfor %}
</ol>
{% endblock %}
