body {
   text-align: center;
   align: center;
   background: #cccccc;
   font-family: sans-serif;
   font-size: 2em;
   margin: 0 auto;
}

#wrapper {
   width: 900px;
   background: #ffffff;
   margin: 0 auto;
   padding-bottom: 10px;
}

h3 {
   font-size: 0.8em;
}

h1 {
   font-family: sans-serif, bold;
}

#footer {
   font-size: 0.4em;
}

a {
   color: #0000ff;
   text-decoration: none;
}

h1 a {
   color: #000000;
   text-decoration: none;
}

h1 a:hover {
   color: #0000ff;
   text-decoration: none;
}

h1 a:active {
   color: #0000ff;
   text-decoration: none;
}

a:hover {
   color: #ff0000;
   text-decoration: underline;
}

a:active {
   color: #ff0000;
   text-decoration: underline;
}

ol {
   padding-left: 100px;
   padding-right: 100px;
}

ul {
   padding-left: 100px;
   padding-right: 100px;
   text-align: left;
}


li.odd {
   background: #dddddd;
}

li.even {
   background: #ffffff;
}
