{% extends "base.html" %}
{% block body %}
<ol>
   {% for team in teams %}
   <li class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">{{team.name}}</li>
   {% endfor %}
</ol>
{% endblock %}
