{% extends "base.html" %}

{% block scripts %}
<script language="JavaScript"> 
function sethandler()
{
   if (document.addEventListener)
   {
      document.addEventListener("keyup",keyup,false);
   }
   else if (document.attachEvent)
   {
      document.attachEvent("onkeyup", keyup);
   }
   else
   {
      document.onkeyup= keyup;
   }
}

function vote(left)
{
   var nerdform = document.getElementById("nerdform");
   var hiddenField = document.createElement("input");
   hiddenField.setAttribute("type", "hidden");
   hiddenField.setAttribute("name", "winner");
   if (left) {
      hiddenField.setAttribute("value", "0");
      } else {
      hiddenField.setAttribute("value", "1");
   }   
   nerdform.appendChild(hiddenField);
   nerdform.submit();
}

function keyup(e)
{
   if (!e) e = event;

   var params = new Object;
   if (e.which == 37) {
      vote(true);
   } else if (e.which == 39) {
      vote(false);
   } else {
      return;
   }
}

sethandler();
</script>

{% endblock %}

{% block body %}
<p>
<img src="{{player1.photo}}" alt="{{player1.handle}}" onclick="vote(true);" style="cursor: pointer; cursor: hand;" />
<img src="{{player2.photo}}" alt="{{player2.handle}}" onclick="vote(false);" style="cursor: pointer; cursor: hand;" />
</p>
<h3>Which nerd is more handsome? Click to vote.</h3>
<form action="/" method="POST" id="nerdform">
   <input type="hidden" name="spamhash" value="{{ spamhash.secret }}" />
   <input type="hidden" name="player1" value="{{ player1.key }}" />
   <input type="hidden" name="player2" value="{{ player2.key }}" />
</form>

{% endblock %}

